.footer {
  background-color: $fon-section-bgc;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  @media screen and (min-width: 768px) {
    display: flex;

    align-items: baseline;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 60px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.footer__logo {
  margin-right: 0;
}
