.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    column-gap: 50px;
  }
}
.header-contacts__link {
  display: flex;
  align-items: center;

  transition: color 250ms $cubic-style;

  padding-top: 1px;
  padding-bottom: 1px;

  color: $secondary-text-color;
  fill: currentColor;
  font-weight: $minor-weight;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: $basic-font-size;
    line-height: $basic-line-height;
  }
}

.header-contacts__icon {
  transform: scaleY(0.88);

  margin-right: 8px;

  @media screen and (min-width: 1200px) {
    transform: scaleY(1);
    margin-right: 10px;
  }
}
.header-contacts__icon--scale {
  transform: scale(0.92, 0.87);

  @media screen and (min-width: 1200px) {
    transform: scale(1);
  }
}
