.menu-toggle {
  cursor: pointer;
  background-color: $fon-main-color;
  fill: currentColor;

  padding-top: 10px;
  padding-bottom: 10px;

  transition: color 250ms $cubic-style;

  &:hover,
  &:focus {
    color: $accent;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}
