.sign-up-box {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.sign-up-box__title {
  display: block;

  font-weight: $basic-weight;
  font-size: $basic-font-size;
  line-height: $basic-line-height;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: $fon-main-color;
}

.sign-up-form {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-end;
  }
}

.sign-up-form__email {
  transition: border 250ms $cubic-style;

  padding: 15px 16px;

  min-height: 50px;
  width: 100%;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: $fon-main-color;
  background-color: inherit;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    border: 1px solid $accent;
    outline: none;
  }

  @media screen and(max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and(min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.sign-up-btn {
  display: flex;
  align-items: center;

  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;

  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }

  .sign-up-btn__icon {
    margin-left: 10px;
  }
}
