.section-work {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.section-work__title {
  font-weight: $basic-weight;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
.work {
  display: flex;
  column-gap: 30px;
  list-style: none;
}

.thumb {
  position: relative;

  .thumb__text {
    background: rgba(47, 48, 58, 0.8);
    color: $fon-main-color;
    font-weight: $basic-weight;
    font-size: $basic-font-size;
    line-height: $basic-line-height;

    display: flex;
    min-width: 100%;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    position: absolute;
    bottom: 0;
  }
}
